* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 800px;
    background: url('../images/fon.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.navbar {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
}

.logo .logo_img {
    width: 200px;
    margin: 0 auto;
}


.logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
h1 {
    margin-top: 53px;
}
.title {
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 60px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}
